<%- await include('views/header.ejs', { title: 'Welcome' }); %>
<body>
<link rel="stylesheet" href="style.css">
<style>
button{
    background-color: lightgreen;
    border-radius: 12px;
    border-style: hidden;
    float: left;
    margin: 20px;
    

}
body{
    background-color: greenyellow;
}

</style>

<div>
    <% console.log("home is loaded"); %>
    <% for (let i = 0; i < items.length; i++) {  %>
        <form action="/product" method="post">
            <input type="text" name="productId" value="<%= i %>" hidden>
            <button class="product" type="submit" > 
                <img src="../assets/<%= items[i].imageName %>" height="120" width="120">
                <% console.log(items[i].imageName) %>
                <br>
                <%= items[i].productName %>
                <br>
                <a style="color: green">
                <%= items[i].specialOffer %>.-
                </a>
                <del style ="color: darkred;"><%= items[i].normalPrice %>.-</del>
            </button>
        </form>
    <% } %>
    </div>
</body>

<%- await include('views/footer.ejs'); %>